.homePage {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* title part is here */
.title {
  width: 50%;
  height: 50%;
  font-size: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
  color: #183d3d;
}

.titlePara {
  margin-left: 20px;
}

/* other title part is here */
.otherTitle {
  width: 50%;
  height: 50%;
  font-size: 35px;
  font-family: cursive;
  font-weight: 200;
  color: #5c8374;
}

.otherTitlePara {
  margin-top: 45%;
  margin-left: 10%;
}
